include ../jade/_mixins

{% verbatim %}
aside.booking-detail.scrollbar-custom(ng-show="!!bookingDetails")
    .section-content
        .block-with-thumbnail
            .col-thumbnail
                .thumbnail: a(href="#").lg-p
                    img(style="background-image: url({{bookingDetails.product.picture}});", width="200")
            .col-exposition
                .indent-sm-h
                    h3: b {{bookingDetails.product.summary}}
                    p.text-gray.indent-sm-h.indent-xs-v
                        i.icon-lg.flaticon.stroke.location-pin-3.icon-li
                        | {{bookingDetails.product.address.street}}, {{bookingDetails.product.address.zipcode}}
                        br
                        | {{bookingDetails.product.address.city}}
                        .block-with-thumbnail.indent-sm-v
                            .col-thumbnail
                                .thumbnail.round: a(href="#").sm
                                    img(style="background-image: url({{userInfo.avatar.thumbnail}});")
                            .col-exposition.text-gray
                                .indent-xs-h
                                    h3.small: a(href="#").text-underline-hover {{userInfo.username}}
                                    p.indent-xs-v
                                        {% endverbatim %}
                                        +average-rate("userInfo.stats.average_rating")
                                        {% verbatim %}
                                    p
                                        {% endverbatim %}
                                        +number-of-comments("userInfo.stats.booking_comments_count")
                                        +number-of-bookings("userInfo.stats.bookings_count")
                                        {% verbatim %}

        .bg-success-light.text-success.text-right.bd-rad
            i(ng-show="!!phoneNumber").icon-lg.flaticon.stroke.phone.indent-xs-l
            span(ng-show="!!phoneNumber").indent-sm-h
                | Joignable au &nbsp;
                b {{phoneNumber}}
                | ou
            a(ui-sref="messages.detail({id: bookingDetails.lastThreadId})", ng-show="!!bookingDetails.lastThreadId").btn-inline.text-white.bg-success-hover Envoyez un message
            a(ui-sref="messages.new({bookingId: bookingDetails.uuid})", ng-show="!bookingDetails.lastThreadId").btn-inline.text-white.bg-success-hover Envoyez un message

        .block-with-thumbnail.notification.indent-md-t.col-bg-line
            .col-thumbnail
                .thumbnail: .icon-action: i.icon-lg.flaticon.stroke.checkmark-2
            .col-exposition.text-action
                h3(ng-show="bookingDetails.state=='authorized'")
                    b Demande de réservation par &nbsp;
                    a(href="/loueur/{{borrowerSlug}}/").text-success.text-underline-hover {{borrowerName}}
                h3(ng-show="bookingDetails.state=='incident'")
                    b Incident declare par &nbsp;
                    a(href="/loueur/{{borrowerSlug}}/").text-success.text-underline-hover {{borrowerName}}
                h3(ng-show="bookingDetails.state=='canceled'")
                    b Réservation annulée &nbsp;
                    a(href="/loueur/{{ownerSlug}}/").text-success.text-underline-hover {{ownerName}}
                h3(ng-show="bookingDetails.state=='pending'")
                    b Réservation acceptée par &nbsp;
                    a(href="/loueur/{{ownerSlug}}/").text-success.text-underline-hover {{ownerName}}
                h3(ng-show="bookingDetails.state=='rejected'")
                    b Réservation rejetée par &nbsp;
                    a(href="/loueur/{{ownerSlug}}/").text-success.text-underline-hover {{ownerName}}
                h3(ng-show="bookingDetails.state=='ended'")
                    b Réservation terminée &nbsp;
                h3(ng-show="bookingDetails.state=='outdated'")
                    b Réservation dépassée &nbsp;
                h3(ng-show="bookingDetails.state=='ongoing'")
                    b Réservation en cours &nbsp;
                ul.zebra-list.indent-md-v
                    li.clearfix
                        .col-xs-3 Statut
                        .col-xs-9: span(class="{{bookingDetails.state}}")
                            span(translate="{{bookingDetails.state}}").booking-bage
                    li.clearfix
                        .col-xs-3 Début
                        .col-xs-9
                            span(translate="{{bookingDetails.start_date.week_day}}")
                            span
                                | {{bookingDetails.start_date.day}} &nbsp;
                            span(translate="{{bookingDetails.start_date.month}}")
                            span
                                | {{bookingDetails.start_date.year}} &nbsp;
                            span(translate="at")
                            span
                                | {{bookingDetails.start_time}}
                    li.clearfix
                        .col-xs-3 Fin
                        .col-xs-9
                            span(translate="{{bookingDetails.end_date.week_day}}")
                            span
                                | {{bookingDetails.end_date.day}} &nbsp;
                            span(translate="{{bookingDetails.end_date.month}}")
                            span
                                | {{bookingDetails.end_date.year}} &nbsp;
                            span(translate="at")
                            span
                                | {{bookingDetails.end_time}}
                    li.clearfix
                        .col-xs-3 Période
                        .col-xs-9 {{bookingDetails.period_days}} jours et {{bookingDetails.period_hours}} heures
                    li.clearfix
                        .col-xs-3 Prix
                        .col-xs-9.text-primary {{bookingDetails.total_amount}}€
                    li(ng-show="bookingDetails.shipping.enabled").clearfix
                        .col-xs-3 Livraison
                        .col-xs-9.text-primary {{bookingDetails.shipping.price | number: 2}}€
                    li(ng-show="bookingDetails.shipping.enabled").clearfix
                        .col-xs-3 Total
                        .col-xs-9.text-primary {{totalBookingPrice}}€
                    li.clearfix
                        .col-xs-3 Caution
                        .col-xs-9 {{bookingDetails.deposit_amount}}€
                    li.clearfix(ng-show="allowDownloadContract")
                        .col-xs-3 Contrat
                        .col-xs-9
                            a(href="", ng-click="downloadContract()").text-success.text-underline-hover Télécharger le contrat
                .text-danger(ng-show="!!serverError")
                    | {{serverError}}
                .text-right
                    a(href="", ng-click="rejectBooking()", ng-show="isOwner && bookingDetails.state=='authorized'", ng-class="{ loading : rejectingInProgress }", ng-disabled="submitInProgress").btn-inline.text-white.bg-gray-light-hover Refuser
                    a(href="", ng-click="acceptBooking()", ng-show="isOwner && bookingDetails.state=='authorized'", ng-class="{ loading : acceptingInProgress }", ng-disabled="submitInProgress").btn-inline.text-white.bg-success-hover Accepter la Réservation
                    a(href="", ng-click="showCancelConfirm()", ng-show="isBorrower && (bookingDetails.state=='authorized' || bookingDetails.state=='pending')", ng-class="{ loading : cancellingInProgress }", ng-disabled="submitInProgress").btn-inline.text-white.bg-gray-light-hover Annuler
                    a(href="", ng-click="declareIncident()", ng-show="bookingDetails.state=='ended' || bookingDetails.state=='ongoing'", ng-disabled="submitInProgress").btn-inline.text-red.bg-gray-light-hover Déclarer un incident

        .block-with-thumbnail.notification.indent-md-b(ng-show="bookingDetails.shipping.enabled")
          .col-thumbnail
            .thumbnail: .icon-action: span.sprite-pickup-logo-short-green
          .col-exposition.text-action
            a(href="", ng-show="searchShippingPointsInProgres").btn.btn-inline.bg-gray-light-hover.text-white.loading &nbsp;&nbsp;&nbsp;
            h3(ng-show="shippingServiceError").text-danger {{shippingServiceError}}
            h3(ng-show="!!departure_point && !shippingServiceError"): b.indent-xs-b Relais de départ
            ul(ng-show="!!departure_point&& !shippingServiceError").text-uppercase.indent-md-b
              li {{departure_point.name}}
              li {{departure_point.address}}
              li {{departure_point.zipcode}} {{departure_point.city}}
            h3(ng-show="!!arrival_point&& !shippingServiceError"): b.indent-xs-b Relais de d’arrivée
            ul(ng-show="!!arrival_point&& !shippingServiceError").text-uppercase
              li {{arrival_point.name}}
              li {{arrival_point.address}}
              li {{arrival_point.zipcode}} {{arrival_point.city}}
            hr
            .text-center(ng-show="!!shipping && bookingDetails.state!='authorized'"): a(href="", ng-click="downloadVoucher()").text-success.text-underline-hover Télécharger l'étiquette

        .block-with-thumbnail.text-gray.notification(ng-show="showCommentForm")
            .col-thumbnail
                .thumbnail: i.icon-3x.flaticon.solid.pencil
            .col-exposition
                form(name="commentForm", ng-submit="postComment()")
                    fieldset(data-ng-disabled="submitInProgress")
                        textarea.expand(name="comment.text", rows="4", placeholder="Écrire un commentaire...", ng-model="comment.text", required)
                        p.text-justify-force.indent-sm-t
                            span
                                | Notes :&nbsp;&nbsp;
                                {% endverbatim %}
                                +average-rate-editable("comment.rate")
                            {% verbatim %}
                            button(type="submit", class="{{submitInProgress ? 'loading' : ''}}", ng-disabled="submitInProgress").btn-inline.bg-success-hover.text-white Envoyer
        //.block-with-thumbnail.text-gray.notification(ng-show="showIncidentForm")
        //    .col-thumbnail
        //        .thumbnail: i.icon-3x.flaticon.solid.pencil
        //    .col-exposition
        //        form(name="incidentForm", ng-submit="postIncident()")
        //            fieldset(data-ng-disabled="submitInProgress")
        //                textarea.expand(name="incident.description", rows="4", placeholder="Décrire l'incident...", ng-model="incident.description", required)
        //                p.text-right.indent-sm-t
        //                    button(type="submit", class="{{submitInProgress ? 'loading' : ''}}", ng-disabled="submitInProgress").btn-inline.bg-success-hover.text-white Envoyer
        .block-with-thumbnail.notification.indent-md-v(ng-show="showIncidentDescription")
            .col-thumbnail
                .thumbnail: .icon-action: i.icon-lg.flaticon.stroke.mail
            .col-exposition.text-action
                h3
                    b Description de l'incident
                p(ng-bind="sinister.description")
                {% endverbatim %}
#confirm.modal.fade
    .modal-dialog
        .modal-content(style="padding: 30px")
            .modal-body
                h3 Etes-vous sûr de vouloir annuler la réservation ?
                .row
                    .col-xs-6
                      button(type="button", data-dismiss="modal", ng-click="cancelBooking()").btn
                        | Oui
                    .col-xs-6
                      button(type="button", data-dismiss="modal").btn.bg-success
                        | Non
include _report_incendent

//-
  section.text-gray-strong.bg-lite
    ul.section-content.booking-activity-feed
      li.reply-to-message: a(href="#").text-success.text-underline-hover
        i.flaticon.stroke.reply &nbsp;&nbsp;
        | Répondre au message

      each item in booking_detail.feed
        if item.type == "date"
          li.feed-date-bage: span #{item.value}
        else
          li.block-with-thumbnail.notification.indent-md-v
            .col-thumbnail
              .thumbnail: .icon-action: i.icon-lg(class="#{item.icon}")
            .col-exposition.text-action
              .block-with-thumbnail

                .col-thumbnail
                  if item.type == "amount"
                    .thumbnail.indent-sm-r
                      img(src="#{STATIC_URL}/img/money.png", alt="", width="40", height="40")
                  else
                    .thumbnail.indent-sm-r.round: a(href="#")
                      case item.type
                        when "message"
                        when "request"
                          img(style="background-image: url(#{STATIC_URL}/#{booking_detail.lot.owner.thumbnail});")
                        when "booking"
                          img(style="background-image: url(#{STATIC_URL}#{tenant.thumbnail});")

                .col-exposition
                  case item.type
                    when "message"
                      h3.text-black.indent-xs-b: b Message envoyé par
                        a(href="#").text-success.text-underline-hover #{booking_detail.lot.owner.first_name}
                      p.norm #{item.value}
                    when "booking"
                      p.norm Demande acceptée par
                        a(href="#").text-success.text-underline-hover #{tenant.first_name}
                    when "request"
                      p.norm Demande de réservation par
                        a(href="#").text-success.text-underline-hover #{booking_detail.lot.owner.first_name}
                    when "amount"
                      p.norm Prix de la location débitée avec succès !
