section.booking-form
	.section-header
		h4 Réservez en ligne
	form.form-inline.section-body.text-center
		.row-flex.part
			p
				small à partir de
				big.text-primary &nbsp;56€ /jour
				-each item in ["Du", "Au"]
					.row-flex
						.cell
							.input-group
								.input-group-addon #{item}
								input(type="text" placeholder="").form-control
								.input-group-addon.calendar
									span
						.cell
							select.form-control
								-for(var i=0;i<24;i++)
									-var n = i>9? i + ":00" : "0" + i + ":00"
									option(value=n) #{n}
			p.available Cet article est disponible à ces dates
			// p.available.unavailable Cet article est disponible à ces dates
		.row-flex.part
			p.mrg-0
				| Durée de la location : 
				b.period-days 3 jours 
				| et 
				b.period-hours 9 heures
			p.price.mrg-0
				| Prix de la location :
				big.text-primary &nbsp;168€
			p Assurance incluse
		.row-flex.part
			button(type="submit").btn.success.calendar-ok
				span
				| Réservez
			p.mrg-v-1
				small Cette somme vous sera débitée lorsque le propriétaire validera la location

section.add-to-wishlist
	.section-body
		.row-flex.part
				a(href="#").btn.gray.mrg-0
					span.icon-heart-empty
					| Ajoutez à votre liste d’envies

section.owner-information
	.section-header
		h4 Contactez-moi
	.section-body
		.row-flex.part
			.block-thumbnail
				.thumbnail-img
					img(src="/img/home-products/declare2r.png", alt="")
				.thumbnail-content
					h5 Gaspard Kroutchev
					include _rate
					p
						| Membre depuis le
						br
						span 12 Juillet 2013
		.row-flex.part
			a(href="#").btn.success.send-message
				span
				| Envoyez un message
			a(href="#").btn.success.call
				span
				| Appelez
			ul.nav.stats
				-var stats = []
				-stats.push({"name": "published-ads", "value": "7", "clarification": "annonces publiées"})
				-stats.push({"name": "bookings", "value": "12", "clarification": "locations effectués"})
				-stats.push({"name": "rating", "value": "16", "clarification": "évalutations"})
				-stats.push({"name": "percent-of-responce", "value": "98%", "clarification": "de taux de réponse"})
				-stats.push({"name": "time-to-answer", "value": "6h", "clarification": "de temps de réponse en moyenne"})
				-each stat in stats
					li(class="#{stat.name}")
						span
							big.text-success #{stat.value} 
						span #{stat.clarification}
		.row-flex.part.connection.clearfix
			.col-md-4.pad-0
				a(href="#").friend-photo-wrapper
					img(src="/img/home-products/friend1.png", alt="")
				a(href="#").friend-photo-wrapper
					img(src="/img/home-products/friend2.png", alt="")
			.col-md-8.pad-0
				p
					small
						a(href="#") Philippe Dupré 
						| et 
						a(href="#") Tony Finn 
						| sont amis avec le propriétaire.
section.similar-listing
	.section-header
		h4 Annonces similaires
	.section-body
		.row-flex.part
			ul.nav
				-for(var i=0;i<5;i++)
					li
						.thumbnail-img
							img(src="/img/home-products/audi2.jpg", alt="")
						.thumbnail-content
							h6 Audi - A3
							p
								small Paris
							span.badge.price 100€ /jour
section.connected-with-owner
	.section-body
		.row-flex.part.text-center
			.facebook-box
				span.icon-facebook
			a(href="#").btn.info.mrg-0 Connectez-vous avec Facebook
			p Vérifiez si un de vos amis connait ce propriétaire ?

