doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title e-loue
		link( href ="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" )
		link( href ="css/style.css" rel="stylesheet" )
		//-[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]
		//-[if IE 8]>
			<script>
				document.createElement('header');
				document.createElement('section');
				document.createElement('footer');
				document.createElement('nav');
				document.createElement('article');
				document.createElement('aside');
			</script>
			<![endif]
	body
		input(type="checkbox")#sourse
		#sourse-img
			img( src = "../sourses/homepage_eloue_V5_vert_V1.jpg" )
		script( src="js/html5shiv.min.js" )
		.b-wrapper
			header.h-wrapper
				.header-top
					ul.header-item-wrapper
						li.item.header-login
							| Bonjour, 
							a( href = "#" ) inscrivez-vous 
							| ou 
							a( href = "#" ) connectez-vous 
						li.item.dividing-line
						li.item.header-offers-pro
							| Vous êtes un loueur professionnel, découvrez les 
							a( href ="#") offers e-loue Pro 
						li.item.dividing-line
						li.item.header-contact
							| Appelez-nous au 
							b 0826.800.200 
							| (0,15&euro; / min)
				.header-middle
					ul.header-item-wrapper
						li.item.header-logo
							a( href = "#" )
								img( src = "img/logo.png" )
						li.item.header-search
							form( name = "header-search" action = "" method = "" )
								input( name = "what_field" type = "text" form ="header-search" placeholder = "Que voulez-vous louer ?" )
								.header-searc-wrapper
									input( name = "where_field" type = "text" form ="header-search" placeholder = "Où ça ?" ).icon.location
									label( for = "where_field" ).icon.location
								.header-searc-wrapper
									input( name = "search_header" type = "submit" form ="header-search" value = "" )
									label( for = "search_header" ).icon.search
						li.item.header-publish-ads
							button( name = "publish_ads" ) Déposez une annonce
				.header-bottom
					ul.header-item-wrapper
						-var items = [ "Logement", "Jardinage", "Automobile", "Image et son", "Bricolage", "Mode et accessoire", "Réceprion", "Santé et Bien être", "Autres" ]
						-each item in items
							li.item
								a( href = "#" + item ) #{item}
			.banner
				.banner-wraper
					img( src = "../img/banner.jpg" )
					.banner-content
						p.banner-text
							| louez un objet, une voiture...
							br
							| près de chez vous, en tout sécurité !
						a.banner-link( href = "#" ) une communauté de confiance

			.insurances
				ul.insurances-blocks-wrapper
					-var blocks = []
					-blocks[0] = { class_name: "payment", "title": "Louez en toute sécurité", "description": [ "Transaction en ligne sécurisées.", "Aucun échange d'argent." ] }
					-blocks[1] = { class_name: "serenity", "title": "Louez en toute sérénité", "description": [ "Assurance incluse et automatique.", "Caution en ligne." ] }
					-blocks[2] = { class_name: "simplicity", "title": "Louez en toute simplicité", "description": [ "Service client dédié 7j/7.", "Dépot d'annonce gratuite." ] }
					-blocks[3] = { class_name: "trust", "title": "Louez en toute confiance", "description": [ "Notes et commentaires en ligne.", "Messagerie en ligne." ] }
					-each block in blocks
						li.block.dividing-line
						li.block.insurances( class = block.class_name )
							span.insurances-img
							h5.insurances-content-title #{block.title}
							-each description in block.description
								p.insurances-content-description #{description}

			.product-list
				.product-list-wrapper
					h4.product-info
						span.products-count 324 654 
						| annonces de location dans 
						span.products-location toute la France
					ul.product-explorer
						-var products = []
						-products[0] = { "image": "img/home-products/bike.jpg", "title": "Bike Bike Bike Bike Bike Bike Bike Bike Bike Bike ", "location": "Aubervillies", "price": "56", "declarer": "img/home-products/declarer.png" }
						-products[1] = { "image": "img/home-products/audi.jpg", "title": "Audi - A3", "location": "Paris Paris Paris Paris Paris Paris Paris Paris Paris Paris ", "price": "100", "declarer": "img/home-products/declarer.png" }
						-products[2] = { "image": "img/home-products/tent.jpg", "title": "Tante tip indien", "location": "Nantes", "price": "56", "declarer": "img/home-products/declarer.png" }
						-for( var i = 0; i < 8; i++)
							-var ind = i % 3
							li.product-item
								a.product-item-wrapper( href = "#" )
									.img-wrapper
										img( src = products[ ind ].image )
										.fog
									.product-price #{products[ ind ].price}&euro; /jour
									.product-text-wrapper
										.product-description
											h6.product-title #{products[ ind ].title}
											p.product-location #{products[ ind ].location}
										.product-declarer
											img( src = products[ ind ].declarer )
					form( name = "explore_all_ads" action = "" method = "" )
						.explore-wrapper
							input( name = "explore" type = "submit" form ="explore_all_ads" value = "Explorez toutes les annonces" )
							label( for = "explore" ).icon.search

		script( src = "js/jquery-1.11.1.min.js" )
		script( src = "js/jquery-extra-selectors.js" )
		script( src = "js/scripts.js" )






