ul.nav.without-spaces
	each tab in tabs
		li
			a( href = "#" + tab ).pad-v-2 #{tab}
.carousel-wrapper
	-var it = [1,2,3]
	.thumbnail-inner
		each i in it
			.thumbnail-img
				img(src=STATIC_URL+"img/carousel-product/#{i}.jpg", alt="")
	#carousel-product.carousel.slide(data-ride="carousel")
		.carousel-inner
			each i in it
				if i == 1
					.item.active
						img(src=STATIC_URL+"img/carousel-product/#{i}.jpg", alt="")
				else
					.item
						img(src=STATIC_URL+"img/carousel-product/#{i}.jpg", alt="")
		a(href="#carousel-product" role="button" data-slide="prev").left.carousel-control
			i.icon-chevron-left
		a(href="#carousel-product" role="button" data-slide="next").right.carousel-control
			i.icon-chevron-right