.container.indent-b-lg
  .row
    .col-sm-6
      ul.timeline-steps.owner-column
        -var i = 10
        while i--
          li
            h4 #{how_it_works.timeline.title}
            p.content #{how_it_works.timeline.text}
            p #{how_it_works.timeline.views} vues
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
      .text-center: a(href="#").btn.bg-primary Je simule mes revenus

    .col-sm-6
      ul.timeline-steps.tenant-column
        -var i = 10
        while i--
          li
            h4 #{how_it_works.timeline.title}
            p.content #{how_it_works.timeline.text}
            p #{how_it_works.timeline.views} vues
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
      .text-center: a(href="#").btn.bg-success Je commence à louer