section.tabs-vertical-active.lg
  .section-header
    .row
      .indent-xs-t.col-xs-4.col-xs-offset-8
        .select-gradient.without-search.date-picker
          select
            option(value="catigories") Catégories
            option(value="catigories") CatégoriesPpa
            option(value="catigories") Catégories
  ul.scrollbar-custom
    each item in bookings
      li.tab-vertical.block-with-thumbnail(class="#{item.bage.classname}")
        .col-thumbnail
          .thumbnail
            a(href="#"): img(src="#{STATIC_URL}img/#{item.lot.thumbnail}", alt="#{item.lot.name} photo", width="130")
        .col-exposition
          h3.small
            | Location 
            a(href="#").text-underline-hover #{item.lot.name}
          p.normal.text-gray
            big.text-primary #{item.lot.price}€ / jour
            br
            +average-rate(booking_detail.lot.rate)
            +number-of-comments(booking_detail.lot.comments_count)
            +number-of-bookings(booking_detail.lot.booking_count)