block details
  {% verbatim %}
  .section-content
    form(action="itmes")
      h2 Catégories
      .row
        .col-md-4
          .form-control
            select(ng-model="rootCategory", ng-change="updateNodeCategories()", ng-options="category.id as category.name for category in rootCategory")
        .col-md-4
          .form-control
            select(ng-model="nodeCategory", ng-change="updateLeafCategories()", ng-options="category.id as category.name for category in nodeCategory")
        .col-md-4
          .form-control
            select(ng-model="product.category")
              option(ng-repeat="category in leafCategories" value="{{categoriesBaseUrl}}{{category.id}}/") {{category.name}}
      h2 Titre
      .row
        .col-xs-12
          input#title.form-control(type="text", name="title", placeholder="Titre", ng-model="product.summary")
      h2 Photos
      ul.text-gray.container-with-square-thumbnail.indent-xs-b
      //-
        li
          label(for="change-img").file-input-drag
            i.fa.fa-plus.fa-3x
            input(type="file")#change-img
        li
          img(src="#{STATIC_URL}img/#{lot_BMW.thumbnail}", alt="#{lot_BMW.thumbnail}")
        li
          img(src="#{STATIC_URL}img/#{lot_BMW.thumbnail}", alt="#{lot_BMW.thumbnail}")
        li
          img(src="#{STATIC_URL}img/#{lot_BMW.thumbnail}", alt="#{lot_BMW.thumbnail}")
      h2 Caractéristiques
      h2 Informations complémentaires
      .row.indent-md-b
        .col-sm-12
          textarea#description.expand(name="description", tabindex="1", rows="6", placeholder="", ng-model="product.description")
      .row
        button(type="submit").btn.text-white.bg-success-hover.col-xs-8.col-xs-offset-2 Enregistrez les modifications
  {% endverbatim %}
