-load compressed staticfiles seo i18n

doctype 5
html(lang="fr", ng-strict-di)
  head
    <meta name="apple-itunes-app" content="app-id=427538545">
    <meta name="google-play-app" content="app-id=com.eloue.appandroid">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/ios-icon.jpeg">

    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide { display: none !important; }
    block variables
      include jade/variables

    block head
      title {% filter striplinebreak %}{% block title %}{% endblock %}{% if is_paginated and page_obj.has_previous %} - {% trans "Page" %} {{ page_obj.number }}{% endif %} - {% trans "e-loue" %}{% endfilter %}
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="description", content="{% filter striplinebreak %}{% block description %}Plateforme pour louer ou mettre en location tout type d'objet : materiel, reception, mariage, sono, utilitaires, ski{% endblock %}{% if is_paginated and page_obj.has_previous %} Page {{ page_obj.number }}{% endif %}{% endfilter %}")
      link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}")
    block styles
      link(rel="stylesheet", href="http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600")
      {% compressed_css "extrastyles" %}
      {% compressed_css "smartbanner_styles" %}
    block scripts
      {% compressed_js "public_js" %}

    script    
      var _gaq = _gaq || [];
      _gaq.push(['_setDomainName', '{{ ANALYTICS_SITE }}']);
      {% spaceless %}
      {% if request.user.is_authenticated %}
      _gaq.push(['_setVar', 'authenticated']);
      {% else %}
      _gaq.push(['_setVar', 'anonymous']);
      {% endif %}
      {% endspaceless %}
    script
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("{{ ANALYTICS_SEGMENT_ID }}");
        analytics.page()
      }}();

  body
    input(id="eloue_url_redirect_facebook", value="{% url 'login_facebook' %}", type="hidden")
    block content-body
    block tail
      {% if not debug %}
      script
          window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
          d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
          _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
          $.src='//v2.zopim.com/?WgwK6edNrVndm09BEcS9eHH77YcyszBK';z.t=+new Date;$.
          type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
      {% endif %}
      script
          var form = document.getElementById('searh-form');
          if (form != 'undefined') {
            analytics.trackForm(form, 'Search', {
              'what': document.getElementsByClassName('what-field')[0].value,
              'where': document.getElementById('geolocate').value
            });
          }
      //Facebook Pixel Code
      script
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ ANALYTICS_FACEBOOK_ID }}');
        fbq('track', "PageView");
      noscript
        <img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id={{ ANALYTICS_FACEBOOK_ID }}&ev=PageView&noscript=1"/>
      script(type="text/javascript")
        /* <![CDATA[ */
        var google_conversion_id = 1027691277;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
      script(type="text/javascript", src="//www.googleadservices.com/pagead/conversion.js")
      noscript
        div(style="display:inline;")
          img(height="1", width="1", style="border-style:none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1027691277/?value=0&amp;guid=ON&amp;script=0")
    #ngModals
        eloue-login-form
        eloue-registration-form
        eloue-reset-password-form
