.dialog-scroll-container
  .dialog-container

    .message.from-declarer
      .thumbnail-img
        a(href="#"): img(src="#{STATIC_URL}#{pop_up.product_info.thumbnail_declarer}", alt="")
      .thumbnail-content
        .thumbnail-frame
          h4 #{pop_up.product_info.name_declarer}
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, consequuntur ut quae quisquam eaque minus quod dignissimos aliquid adipisci sint!
        p.time Le 23.06.2014 à 09h25

    .message.from-customer
      .thumbnail-content
        .thumbnail-frame
          h4 #{pop_up.product_info.name_declarer}
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, consequuntur ut quae quisquam eaque minus quod dignissimos aliquid adipisci sint!
        p.time Le 23.06.2014 à 09h25
      .thumbnail-img
        a(href="#"): img(src="#{STATIC_URL}#{pop_up.product_info.thumbnail_declarer}", alt="")

