.thumbnail-img
  a(href="#"): img(src="#{product.profile}", alt="")
.thumbnail-content
  h3 #{product.summary}
  p.location
    i.flaticon.stroke.location-pin-3
    | #{product.city}, #{product.zipcode}
  p.stats
    include ../_rate
    span.rate-count #{pop_up.product_info.rate_count}
    span.comments-count
      i.flaticon.stroke.writing-comment
      | #{pop_up.product_info.comments_count}
  .declarer
    if product.owner_url and product.owner_avatar
      .thumbnail-img
        a(href="#{product.owner_url}"): img(src="#{product.owner_avatar}", alt="")
    .thumbnail-content
      p #{product.owner}
