extends ../base
-load compressed
-load i18n

block append styles
	{% compressed_css "bootstrap" %}
	{% compressed_css "publish_item_styles" %}

block append scripts
	script(type="text/javascript", src="https://www.googleadservices.com/pagead/conversion_async.js", charset="utf-8")

block append content-body
	.container-flex(data-ng-controller="PublishAdCtrl")
		header.header-site
			include ../jade/_header_site
			nav.nav-home.container
				include ../jade/_nav_home
			article
				section.publish-items-categories
					.container
						{% if campagn_name == 'emma1' %}
						.text-grey
							p(style="margin-left: 3cm; margin-top: 2cm; width: 500px; float: left;")
								| {% trans "Vous aussi faites comme Emma ..." %}
								| {% trans "et gagnez de l’argent en déposant vos annonces sur e-loue !" %}
						img(src="#{STATIC_URL}images/Emma1.jpg", style="width:300px; margin-left: 50px;")
						{% elif campagn_name == 'emma2' %}
						.text-grey
							p(style="margin-left: 3cm; margin-top: 2cm; width: 500px; float: left;")
								| {% trans "Vous aussi faites comme Emma ..." %}
								| {% trans "et gagnez de l’argent en déposant vos annonces sur e-loue !" %}
						img(src="#{STATIC_URL}images/Emma2.jpg", style="width:300px; margin-left: 50px;")
						{% elif campagn_name == 'thomas1' %}
						.text-grey
							p(style="margin-left: 3cm; margin-top: 2cm; width: 500px; float: left;")
								| {% trans "Vous aussi faites comme Thomas ..." %}
								| {% trans "et gagnez de l’argent en déposant vos annonces sur e-loue !" %}
						img(src="#{STATIC_URL}images/Thomas1.jpg", style="width:300px; margin-left: 50px;")
						{% elif campagn_name == 'thomas2' %}
						.text-grey
							p(style="margin-left: 3cm; margin-top: 2cm; width: 500px; float: left;")
								| {% trans "Vous aussi faites comme Thomas ..." %}
								| {% trans "et gagnez de l’argent en déposant vos annonces sur e-loue !" %}
						img(src="#{STATIC_URL}images/Thomas2.jpg", style="width:300px; margin-left: 50px;")
						{% else %}
						.text-grey
							p(style="margin-left: 3cm; margin-top: 2cm; width: 500px; float: left;")
								| {% trans "Vous aussi faites comme Emma ..." %}
								| {% trans "et gagnez de l’argent en déposant vos annonces sur e-loue !" %}
						img(src="#{STATIC_URL}images/Emma2.jpg", style="width:300px; margin-left: 50px;")
						{% endif %}
					br
					include ../jade/_publish_items_categories
			footer
				section.insurances.framing
					include ../jade/_insurances
				section.footer-links
					include ../jade/_footer_links
				section.rss
					include ../jade/_rss
			include ../jade/_pop_up_publish_item
