.container
  .text-info__paragraph
    |Vous avez besoin de faire des pe=ts travaux ? Vous aimez le bricolage ? Vous cherchez une nouvelle occupa=on les WE ?
    br
    |Et vous avez forcement besoin de matériel....
    br
    |Pourquoi acheter tout ce matériel de bricolage alors que ça coûte cher, que vous ne l’u=liserez pas régulièrement, et que c’est souvent compliqué à stocker ? Nous avons la solu=on idéale : la loca=on de matériel de bricolage !
    br
    |Sur e-loue, vous trouverez tout pour le bricolage : de la loca=on de perceuse au monte charge, de la scie au neJoyeur haute pression, en passant par la loca=on de la décolleuse ou la shampouineuse.

  .text-info__paragraph
    | Alors arrêtez d’acheter et louez ! C’est pra=que, c’est simple, c’est économique, et c’est 100% assuré !