mixin average-rate(account_var)
    .rate(ng-init="stars=[1, 2, 3, 4, 5]")
        i.flaticon.solid.star-2(ng-repeat="star in stars", class="{{!#{account_var} ? 'disabled' : (star === #{account_var} ? 'current_rate' : '')}}")

mixin rate-counter(account_var)
    span.rate-count(ng-show="!!#{account_var}", ng-bind="#{account_var}")

mixin number-of-comments(counter_var)
    span.comments-count
        i.flaticon.stroke.writing-comment
        span(ng-bind="#{counter_var}")

mixin number-of-bookings(counter_var)
    span.number-of-bookings
        i.icon-lg.flaticon.stroke.calendar-5
        span(ng-bind="#{counter_var}")

mixin verify-type(icon, text, color)
    .block-with-thumbnail
        .col-thumbnail
            .thumbnail
                i.icon-fw.icon-3x.indent-sm-r(class="#{icon} text-#{color}")
        .col-exposition #{text} verifié
            i.icon-lg.flaticon.solid.checkmark-2.indent-xs-l.text-success
