ol.nav.row
  each product in products
    li
      .section-body
        .thumbnail-img
          a(href="products/product_detail.html").img-wrapper
            img( src = "#{STATIC_URL}#{product.img_link}" )
            span.badge.price #{product.price}&euro; /jour
            span.badge-order #{product.order}
        .info
          h6
            a(href="#") #{product.title}
            if product.ispro
              span.badge-pro pro
          p #{product.description}
            span.zip-code ,&nbsp;#{product.zip_code}
          .rate
            -var stars = [1,2,3,4,5]
            each s in stars
              if s == product.rate
                span.flaticon.solid.star-2.current-rate
              else
                span.flaticon.solid.star-2
          if product.comments > 0
            span.sprite-comment
              i.flaticon.stroke.writing-comment
              | #{product.comments}
          p.full_description #{product.full_description}
        .declarer-container
          .declarer
            span.declarer-name Alfred Cardinal
            a(href="#").declarer-thumbnail: img(src="#{STATIC_URL}#{product.declarer_img_link}" alt="")
          .btns
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.mail-2
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.calendar-2
.text-center
  ul.pagination
    li: a(href="#").chevron: i.flaticon.stroke.left-2
    li: a(href="#").active 1
    li: a(href="#") 2
    li: a(href="#") 3
    li: a(href="#") 4
    li: a(href="#") 5
    li: a(href="#") 6
    li: a(href="#").chevron: i.flaticon.stroke.right-2

