ol.nav.row
  each product in product_list
    li
      .section-body
        .thumbnail-img
          a(href="#{product.url}").img-wrapper
            if product.thumbnail
              img(src="#{product.thumbnail}")
            span.badge.price #{product.price}&euro; /jour
            span.badge-order #{product.order}
        .info
          h6
            a(href="#{product.url}") #{product.summary}
            if product.pro
              span.badge-pro pro
          p #{product.city}
            span.zip-code ,&nbsp;#{product.zipcode}
          .rate
            -var stars = [1,2,3,4,5]
            each s in stars
              if s == 1
                span.flaticon.solid.star-2.current-rate
              else
                span.flaticon.solid.star-2
          if product.comments
            span.sprite-comment
              i.flaticon.stroke.writing-comment
              | #{product.comments}
          p.full_description #{product.text}
        .declarer-container
          .declarer
            span.declarer-name #{product.owner}
            if product.owner_url and product.owner_avatar
              a(href="#{product.owner_url}").declarer-thumbnail: img(src="#{product.owner_avatar}" alt="")
          .btns
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.mail-2
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.calendar-2
.text-center
  ul.pagination
    li: a(href="#").chevron: i.flaticon.stroke.left-2
    li: a(href="#").active 1
    li: a(href="#") 2
    li: a(href="#") 3
    li: a(href="#") 4
    li: a(href="#") 5
    li: a(href="#") 6
    li: a(href="#").chevron: i.flaticon.stroke.right-2

