extends ../../base
-load compressed

block append styles
  {% compressed_css "dashboard_styles" %}

block append scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/dashboard/main.js")

block append content-body
  .container-full-screen(data-ng-controller="DashboardRootCtrl")
    //- include ./_src
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav
        ul
          -var dashboard_nav_links = [["Dashboard", "home", "dashboard", 0], ["Messages", "envelope-o", "messages", 1], ["Booking", "table", "bookings", 2], ["Items", "th-list", "items", 3], ["Account", "user", "account", 4]]
          each title, icon, href, badge in dashboard_nav_links
            li: a(ui-sref="#{href}").text-success-dark
              i(class="fa fa-#{icon}")
                if badge == 1
                  span.badge-count-action 1
              | #{title}
      .content-view(ui-view)
