extends ../../base
-load compressed

block variables
  include ./_global_variables
  include ./_mixins

block append styles
  {% compressed_css "dashboard_styles" %}

block scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/dashboard/main.js")

block content-body
  .container-full-screen
    //- include ./_src
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav
        ul
          each item in dashboard_nav_links
            li: a(href="../#{item.href}").text-success-dark
              i(class="fa fa-#{item.icon}")
                if item.badge > 0
                  span.badge-count-action 1
              | #{item.title}
      .content-view
        block content-view
