extends ../../base

block variables
  include ./_global_variables
  include ./_mixins
  -var STATIC_URL

block append styles
  link(rel="stylesheet", href="#{STATIC_URL}css/base.css")
  link(rel="stylesheet", href="#{STATIC_URL}css/styles.css")

block append scripts
  script(src="#{STATIC_URL}js/dashboard_scripts.js")

block content-body
  .container-full-screen
    //- include ./_src
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav
        ul
          each item in dashboard_nav_links
            li: a(href="../#{item.href}").text-success-dark
              i(class="fa fa-#{item.icon}")
                if item.badge > 0
                  span.badge-count-action 1
              | #{item.title}
      .content-view
        block content-view
