mixin average-rate(account_var)
  span.average-rate.ng-hide(ng-show="true", ng-init="currentStar=#{account_var}")
    {% verbatim %}
    span.star(ng-init="stars=[1, 2, 3, 4, 5]")
      i.fa.fa-lg.fa-star(ng-repeat="star in stars", class="{{star === currentStar ? 'current' : ''}}")
    {% endverbatim %}

mixin rate-counter(account_var)
  span.rate-counter(ng-show="!!#{account_var}", ng-bind="#{account_var}")

mixin number-of-comments(counter_var)
  span.number-of-comments
    i.fa.fa-lg.fa-comments-o
    span(ng-bind="#{counter_var}")

mixin number-of-bookings(counter_var)
  span.number-of-bookings
    i.fa.fa-lg.fa-table
    span(ng-bind="#{counter_var}")

mixin verify-type(icon, text, color)
  .block-with-thumbnail
    .col-thumbnail
      .thumbnail
        i.fa.fa-fw.fa-3x(class="fa-#{icon} text-#{color}")
    .col-exposition #{text} verifié
      i.fa.fa-check-circle.fa-lg.indent-xs-l.text-success
