extends ./_base_account
block sections
  section.tabs-vertical-active.md.scrollbar-custom
    ul.block-with-thumbnail
      each address in addresses
        li.block-with-thumbnail
          a(href="#").tab-vertical(class="#{address.def}")
            .col-thumbnail
              .thumbnail
                img(src="#{STATIC_URL}img/#{address.thumbnail}", width="70")
            .col-exposition
              h3.indent-xs-b
                | #{address.street}
                i.fa.fa-check.fa-lg.pull-right
              p.normal.text-gray #{address.zip_code} #{address.city}

  aside.address-detail.pull-nothing.scrollbar-custom.scrollbar-left
    include ./_address_detail
