section.tabs-vertical-static.pull-nothing
  ul.scrollbar-custom.messages-container
    each message in messages
      li.tab-vertical.block-with-thumbnail
        .col-thumbnail
          .thumbnail.round: a(href="#{message.autor.account_link}")
            img(src="#{STATIC_URL}#{message.autor.thumbnail_small}", alt="#{message.autor.name} photo")
        .col-exposition
          h3: a(href="#{message.autor.account_link}").text-underline-hover #{message.autor.first_name}
          p.small.text-gray-light #{message.date} #{message.time}
          p.normal.text-gray.text-justify #{message.text}

  form(action="send-message").send-dialog-message.clearfix
    .textarea-wrapper
      textarea#message-text.expand(name="message-text", tabindex="1", placeholder="Rédigez votre message ici...")
    button(type="submit").btn.bg-success-hover.text-white Envoyez