-load compressed staticfiles eloue_url

doctype 5
html(lang="fr")
  head
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide { display: none !important; }
    block variables
      include jade/variables

    block head
      title AutoVoisin
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="{% static 'img/favicon_av.ico' %}")

    block styles
      link(rel="stylesheet", href="http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600")
      {% compressed_css "extrastyles" %}

    block scripts
      {% compressed_js "public_js" %}
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ANALYTICS_GOOGLE_ID }}']);
      _gaq.push(['_setDomainName', '{{ ANALYTICS_SITE }}']);
      _gaq.push(['_trackPageview']);
      {% spaceless %}
      {% if request.user.is_authenticated %}
      _gaq.push(['_setVar', 'authenticated']);
      {% else %}
      _gaq.push(['_setVar', 'anonymous']);
      {% endif %}
      {% endspaceless %}
      
    script
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("{{ ANALYTICS_SEGMENT_ID }}");
        analytics.page()
      }}();
      
  body
    input(id="eloue_url_redirect", value="{% eloue_url 'redirect' %}", type="hidden")
    block content-body
      include jade/_pop_up_redirect
    script
        (function() {
             var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    {% if not debug %}
    script
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?WgwK6edNrVndm09BEcS9eHH77YcyszBK';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    {% endif %}
    //Facebook Pixel Code
    script
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '{{ ANALYTICS_FACEBOOK_ID }}');
      fbq('track', "PageView");
    noscript
      <img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id={{ ANALYTICS_FACEBOOK_ID }}&ev=PageView&noscript=1"/>
    #ngModals
        eloue-login-form
        eloue-registration-form
        eloue-reset-password-form
