extends ./base

block prepend variables
  -var STATIC_URL = "../static/"

block append styles
  link(rel="stylesheet", href="#{STATIC_URL}css/bootstrap.css")
  link(rel="stylesheet", href="#{STATIC_URL}css/homepage_styles.css")

block append scripts
  script(src="#{STATIC_URL}js/bootstrap/modal.js")
  script(src="#{STATIC_URL}js/bootstrap/dropdown.js")
  script(src="#{STATIC_URL}js/scripts.js")

block content-body
  include ./jade/_sign_in
  include ./jade/_log_in
  .container-flex
    header.header-site
      include ./jade/_header_site
    nav.nav-home.container
      include ./jade/_nav_home

    article
      section.banner
        include ./jade/_banner
      section.insurances.framing
        include ./jade/_insurances
      section.product-list
        include ./jade/_product_list
      section.float-comments.framing
        include ./jade/_comments
      section.location-list
        include ./jade/_location_list

    main
      section.download-mobile-apps.framing
        include ./jade/_download_mobile_apps
      section.watch-video
        include ./jade/_watch_video
      section.professional-renter-content.framing
        include ./jade/_professional_renter_content
      section.talk-about-us
        include ./jade/_talk_about_us

    footer
      section.footer-links.framing
        include ./jade/_footer_links
      section.rss
        include ./jade/_rss