.modal.fade#classic-form(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true")&times;
          span.sr-only Close
        h4.modal-title Inscription
      .modal-body
        .alert.alert-danger(ng-show="!!registrationError")
          button(type="button", data-dismiss="alert", class="close")
          | {% verbatim %} {{registrationError}} {% endverbatim %}
        form(name="registrationForm", ng-submit="register()", novalidate)
          h3 Inscription 30 secondes
          .form-group: .row
            .col-xs-5: select.form-control
              option(value="madame", selected) Mme
              option(value="mademoiselle") Mlle
              option(value="monsieur") Mr
            .col-xs-7:
              input(type="text", placeholder="Nom", name="lastName", ng-model="account.lastName", required).form-control
              span.errorMsg(ng-show="registrationForm.lastName.$error.required && registrationForm.lastName.$dirty") Required field
          -var registration_form_fields = [["text", "Prénom", "firstName"], ["email", "Adresse email", "email"], ["password", "Mot de passe", "password"], ["password", "Confirmation de mot de passe", "confirmPassword"], ["text", "Code postal", "postalCode"]]
          each type, placeholder, name in registration_form_fields
            .form-group
              input(type="text", placeholder="#{placeholder} *", name="#{name}", ng-model="account.#{name}", required).form-control
              span.errorMsg(ng-show="registrationForm.#{name}.$error.required && registrationForm.#{name}.$dirty") Required field
          .checkbox
            label(for="inform")
              input(type="checkbox", checked)#inform
              span.flaticon.stroke.checkmark
            | Tenez moi informé de l'actualité et des bonnes affaires e-loue
          .form-group: button(ng-click="openRegistrationForm()").btn.bg-success Inscription via Email
          p
            | En créant un compte e-loue, vous acceptez les 
            a(href="#") Conditions Générales 
            br
            | et la 
            a(href="#") Politique de Confidentialité 
            | de notre site


