-load staticfiles i18n

script(type="text/ng-template", id="_filter_wrapper_textfield.html")
    span(ng-cloak, title="{%verbatim%}{{ 'Réinitialiser' | translate }}{%endverbatim%}", 
        class="btn-clear-filter-text-input", ng-click="vm.reset()", ng-show="!vm.clean()")

section.framing(ng-controller="CookiesCtrl")
    div.header-site.cookies-alert.ng-hide(ng-show="showCookiesRibbon") {% trans "En poursuivant votre navigation, vous acceptez l’utilisation des cookies pour disposer de services et d’offres adaptées à vos centres d’intérêts. Pour en savoir plus,&nbsp;" %}
        a(href="/conditions-generales-particuliers/#cookies") {% trans "cliquez ici" %}
        span.cross(ng-click="acceptCookies(true)") &#10006;

section(ng-controller="AuthCtrl").container.signs-links
  //- version of header for anonymous user
  ul.ng-hide(role="tablist", ng-show="!currentUser", style="display: none;").without-spaces
    li: span
      li: <img  src="{% static 'images/phone-grey.png' %}", style="width: 17px;height: 16px; margin-right: 8px;vertical-align: top"/>
        {% blocktrans %}
        span
        b 01 85 08 99 77 
        | (service clients)
        {% endblocktrans %}
        li.divide
    li: span
        {% url 'subscription' as subscription_url %}
        {% blocktrans %}
        b Louez tous types d'objets auprès de particuliers et professionnels 
        {% endblocktrans %}
        a(href="{% url 'howto' %}"): b {% blocktrans %}(comment ça marche){% endblocktrans %}
    li.divide
    li: span
      a#registration-link(href="#inscrivez-vous", data-toggle="modal", data-target="#registrationModal"): b {% trans "Inscription" %} 
      | -     
      a#login-link(href="#connectez-vous", data-toggle="modal", data-target="#loginModal"): b {% trans "Connexion" %}
  //- version of header for authorized user
  ul.ng-hide(role="tablist", ng-show="!!currentUser", style="display: none;").without-spaces
    li: span
      li: <img  src="{% static 'images/phone-grey.png' %}", style="width: 17px;height: 16px; margin-right: 8px;vertical-align: top"/>
        {% blocktrans %}
        span
        b 01 85 08 99 77 
        | (service clients)
      {% endblocktrans %}
    li.spacer
    li.guest-veiw
        .dropdown
          span.dropdown-img: a(href="#"): img(data-ng-src="{% verbatim %}{{currentUser.avatar.profil}}{% endverbatim %}").bg-image
          span(data-toggle="dropdown").dropdown-toggle.text-success {% verbatim %}{{currentUser.username}}{% endverbatim %}
            span.caret
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
            li: a(href="{% url 'dashboard:dashboard' %}") {% trans "Tableau de bord" %}
            li: a(href="{% url 'dashboard:messages' %}") {% trans "Messages" %}
            li: a(href="{% url 'dashboard:bookings' %}") {% trans "Réservations" %}
            li: a(href="{% url 'dashboard:items' %}") {% trans "Annonces" %}
            li: a(href="{% url 'dashboard:account' %}") {% trans "Compte" %}
            li: a(href="", ng-click="logout()") {% trans "Déconnexion" %}
        //-
         .dropdown
          span(data-toggle="dropdown").dropdown-toggle.text-success
            i.flaticon.stroke.mail
            span.badge-count {{userStats.unread_message_threads_count}}
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
          //-
            each item in header_popover
              li
                .middle-round: span
                .autor-img: a(href="#"): img(src="http://lorempixel.com/40/40/people", alt="").bg-image
                .content
                  h4: a(href="#") #{item.first_name}
                  h5: a(href="#") #{item.topic}
                  p #{item.text}
        //-
         .dropdown
          span(data-toggle="dropdown").dropdown-toggle.text-success
            i.flaticon.stroke.calendar-5
            span.badge-count {{userStats.booking_requests_count}}
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
          //-
            each item in header_popover
              li
                .middle-round: span
                .autor-img: a(href="#"): img(src="http://lorempixel.com/40/40/people", alt="")
                .content
                  h4: a(href="#") #{item.first_name}
                  h5: a(href="#") #{item.topic}
                  p #{item.text}
        .dropdown
          span(data-toggle="dropdown").dropdown-toggle.text-success {% trans "Aide" %}
            span.caret
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
            li: a(href="{% url 'howto' %}") {% trans "Comment ça marche ?" %}
            //-
             li: a Simulez vos revenus
             li: a Conseils pour les propriétaires
             li: a Conseils pour les locataires

.framing
  section.container.search-form
    .table-cell
      a(href="{% url 'home' %}"): img(src="{% static 'img/logo.png' %}", alt="e-loue logo")
    .table-cell.main-cell
      {% trans "Que voulez-vous louer ?" as what %}
      {% trans "Où ça ?" as where %}
      form(action="{% url 'product_list' %}")#searh-form.input-group
        div(ng-if="search", eloue-filter-wrapper-textfield, attr-name="query", eloue-query, debounce-delay="100",
            value="search.query",  defaults="defaults.query", helper="search.helper",
                        style="position:relative;")
          input(ng-model="vm.value", ng-change="vm.refine()", ng-focus="vm.focus=true", ng-blur="vm.focus=false",
              type="text", name="q", autocomplete="off", style="padding-right:3em;",
              ng-keyup="vm.onKeyup($event)", tabindex='1',
              spellcheck="false", autocorrect="off", value="{{ form.cleaned_data.q }}", placeholder="{{ what }}", 
              title="{% if form.cleaned_data.q %}{{ what }}{% endif %}").table-cell.main-cell.form-control.what-field
        .table-cell.input-group.where-field
          i.flaticon.stroke.location-pin-3
          div(ng-if="search", eloue-filter-wrapper-textfield, attr-name="location", eloue-location,
	            value="search.location",  defaults="defaults.location", helper="search.helper",
	            style="position:relative;")
            input(class="nobtn", ng-model="vm.value", type="text", name="l", style="padding-right:3em;",
                ng-focus="vm.onFocus()", ng-blur="vm.onBlur()",
                ng-keyup="vm.onKeyup($event)", tabindex='2',
                value="{{ form.cleaned_data.l }}", placeholder="{{ where }}", title="{% if form.cleaned_data.l %}{{ where }}{% endif %}").form-control#geolocate
    .table-cell
      button(type="button", onclick="location.href='{% url 'publish_item' %}';").btn.bg-primary.btn-advertise {% trans "Déposez une annonce" %}
      
