section.container.signs-links
  //- version of header for anonymous user
  ul.ng-hide(role="tablist", ng-show="!currentUser").without-spaces
    li: span
      | Appelez-nous au 
      b 0826.800.200 
      | (0,15&euro; / min)
    li.divide
    li: span
        | Vous êtes un loueur professionnel, découvrez les 
        a( href ="#") offers e-loue Pro
    li.divide
    li: span
        | Bonjour, 
        a( href = "#inscrivez-vous", data-toggle="modal", data-target="#registrationModal") inscrivez-vous 
        | ou 
        a( href = "#connectez-vous", data-toggle="modal", data-target="#loginModal") connectez-vous
  //- version of header for authorized user
  ul.ng-hide(role="tablist", ng-show="!!currentUser").without-spaces
    li: span
      | Appelez-nous au 
      b 0826.800.200 
      | (0,15&euro; / min)
    li.spacer
    li.guest-veiw
        {% verbatim %}
        .dropdown
          span.dropdown-img: a(href="#"): img(data-ng-src="{{currentUser.avatar.profil}}").bg-image
          span(data-toggle="dropdown").dropdown-toggle.text-success {{currentUser.username}}
            span.caret
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
            {% endverbatim %}
            li: a(href="{% url 'dashboard:dashboard' %}") Tableau de bord
            li: a(href="{% url 'dashboard:messages' %}") Messages
            li: a(href="{% url 'dashboard:bookings' %}") Réservations
            li: a(href="{% url 'dashboard:items' %}") Annonces
            li: a(href="{% url 'dashboard:account' %}") Compte
            li(ng-controller="AuthCtrl"): a(href="", ng-click="logout()") Déconnexion
            {% verbatim %}
        //-
         .dropdown
          span(data-toggle="dropdown").dropdown-toggle.text-success
            i.flaticon.stroke.mail
            span.badge-count {{userStats.unread_message_threads_count}}
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
          //-
            each item in header_popover
              li
                .middle-round: span
                .autor-img: a(href="#"): img(src="http://lorempixel.com/40/40/people", alt="").bg-image
                .content
                  h4: a(href="#") #{item.first_name}
                  h5: a(href="#") #{item.topic}
                  p #{item.text}
        //-
         .dropdown
          span(data-toggle="dropdown").dropdown-toggle.text-success
            i.flaticon.stroke.calendar-5
            span.badge-count {{userStats.booking_requests_count}}
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
          //-
            each item in header_popover
              li
                .middle-round: span
                .autor-img: a(href="#"): img(src="http://lorempixel.com/40/40/people", alt="")
                .content
                  h4: a(href="#") #{item.first_name}
                  h5: a(href="#") #{item.topic}
                  p #{item.text}
        .dropdown
          span(data-toggle="dropdown").dropdown-toggle.text-success Aide
            span.caret
          ul(role="menu", aria-labelledby="dLabel").dropdown-menu
            {% endverbatim %}
            li: a(href="{% url 'howto' %}") Comment ça marche ?
            li: a Simulez vos revenus
            li: a Conseils pour les propriétaires
            li: a Conseils pour les locataires

.framing
  section.container.search-form
    .table-cell
      a(href="{% url 'home' %}"): img(src="#{STATIC_URL}img/logo.png", alt="e-loue logo")
    .table-cell.main-cell
      form(action="{% url 'product_list' %}").input-group
        input(type="text", name="q", value="{{ form.cleaned_data.q }}", placeholder="Que voulez-vous louer ?", title="{% if form.cleaned_data.q %}Que voulez-vous louer ?{% endif %}").table-cell.main-cell.form-control.what-field
        .table-cell.input-group.where-field
          i.flaticon.stroke.location-pin-3
          input(type="text", name="l", value="{{ form.cleaned_data.l }}", placeholder="Où ça ?", title="{% if form.cleaned_data.l %}Où ça ?{% endif %}").form-control#geolocate
        .table-cell.input-group-btn
          button(type="submit", default).btn.btn-default.btn-search: i.flaticon.stroke.zoom-2
    .table-cell
      button(type="button", onclick="location.href='{% url 'publish_item' %}';").btn.bg-success.btn-advertise Déposez une annonce
