-load category facets
-load i18n

style.
  .angular-google-map-container { height: 250px; }

{% verbatim %}

script(type="text/ng-template", id="_category_tree_item.html")
  ul(class="category_tree" ng-if="(category || vm.value).isRefined")
    li(ng-repeat="category in (category || vm.value).data track by category.path")
      a(ng-click="vm.refine(category.path)" ng-style="category.isRefined ? {'font-weight':'bold'} : {}")
        {{ vm.categoryName(category.name) + "&nbsp(" + category.count + ")" }} 
      div(ng-if="category.isRefined", ng-include="'_category_tree_item.html'")

script(type="text/ng-template" id="_filter_wrapper.html")
  div(ng-cloak, class="filter-wrapper")
    label(class="caption", for="{{vm.attrName}}", style="width:100%; position:relative; height:1.5em; line-height:1.5em;")
      span(ng-cloak, title="{{ 'Réinitialiser' | translate }}", class="btn-clear-filter",
            ng-click="vm.reset()", ng-show="!vm.clean()")
      {{ vm.label }}
    .whirly(ng-hide='vm.ready()')
    div(ng-show='vm.ready()')
{% endverbatim %}

//- {% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}
.section-body
  
  
  eloue-filter-wrapper(ng-if="search", label="{% trans 'catégories' %}", attr-name="category",
                        value="search.algolia_category_path",  defaults="defaults.category",
                        eloue-categories)
    div(ng-hide="vm.empty", ng-include="'_category_tree_item.html'", eloue-suspendable)
    div(ng-show="vm.empty") {% trans "Aucune categorie" %}
  
  
  eloue-filter-wrapper(ng-if="search", label="{% trans 'carte' %}", 
                        value="search.map",  defaults="defaults.map",
                        eloue-map)
      ui-gmap-google-map(center='vm.value.center', zoom='vm.value.zoom', 
          options='vm.value.options', control='vm.value.control', events='vm.value.events', pan="true")
        ui-gmap-markers(ng-show="vm.resultCount", models="vm.results", coords="'location_obj'", 
            idKey="'markerId'", events="marker_event_handlers", type="'cluster'", 
            typeOptions="vm.value.clustererOptions", options="'markerOptions'")
            

  eloue-filter-wrapper(ng-if="search", label="{% trans 'rayon' %}", attr-name='aroundRadius', 
                        value="search.range",  defaults="search.range", 
                        eloue-slider, units="DISTANCE", eloue-distance)
    rzslider(id="{% trans 'rayon' %}-slider", rz-slider-model="vm.value.max",
      rz-slider-options="vm.value.options")

  
  eloue-filter-wrapper(ng-if="search", label="{% trans 'prix' %}", attr-name='price', 
                        value="search.price",  defaults="defaults.price", 
                        eloue-slider, units="MONEY_ROUND", eloue-price)
    rzslider(id="{% trans 'prix' %}-slider", rz-slider-model="vm.value.min", rz-slider-high="vm.value.max",
      rz-slider-options="vm.value.options")
      
  
  eloue-filter-wrapper(ng-if="search", label="{% trans 'loueurs' %}", attr-name='pro_owner',
                        value="search.owner_type",  defaults="defaults.owner_type",
                        eloue-propart)
    .checkbox(ng-show="vm.value.part_count", ng-cloak)
      label(for="particular")
        {% trans "particuliers" as particular %}
        input(type="checkbox", name="renter", ng-change="vm.refineRenterPart(vm.value.part)", 
                ng-model="vm.value.part", ng-disabled="vm.noProPartChoice()")#particular
        span.flaticon.stroke.checkmark-1
      {% trans " Particuliers" %} {% verbatim %} {{ " ("+vm.value.part_count+")" }} {% endverbatim %}
    .checkbox(ng-show="vm.value.pro_count", ng-cloak)
      label(for="professional")
        input(type="checkbox", name="renter", ng-change="vm.refineRenterPro(vm.value.pro)",
                ng-model="vm.value.pro", ng-disabled="vm.noProPartChoice()")#professional
        span.flaticon.stroke.checkmark-1
      {% trans " Professionnels" %} {% verbatim %} {{ " ("+vm.value.pro_count+")" }} {% endverbatim %}
  
 
  div(ng-if="search", ng-controller="DynamicPropertiesController")
    eloue-filter-wrapper(ng-repeat="prop in properties track by prop.id | is_facet",
                          eloue-dynamic-property, ng-model="prop")
      {% verbatim %}
      select(id="{{ vm.label + vm.prop_id }}", ng-options="choice for choice in vm.choices",
              data-placeholder="{{ vm.label }}", class="form-control", ng-model="vm.value", 
              ng-change="vm.refine()", eloue-chosen, ng-cloak)
      {% endverbatim %}

